body{
	margin: 0;
}
#battlefield{
	display: block;
	margin: 2em auto 0;
	background: #7FDBFF;
	position: relative;
	overflow: hidden;
}
.tank{
	background: #3D9970;
	position: absolute;
	height: 16px;
	width: 16px;
	-webkit-transition: all .1s ease;
}
.bullet{
	background: #FF4136;
	position: absolute;
	height: 16px;
	width: 16px;
	-webkit-transition: all .05s linear;
}